body{
    background-color:#7a959e ;
}

.papu{
    background-color: rgb(96, 108, 214);
    font-size: 36px;
    text-align: center;
}

.dado{
    background-color: rgb(206, 161, 147);
    font-size: 36px;
    text-align: center;
}

.capo{
    background-color: dodgerblue;
    font-size: 36px;
    text-align: center;
}
